@import "tailwindcss";

html, body, #root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (min-height: 600px) {
  html, body, #root {
    height: 100dvh;
    overflow: hidden;
  }
}