@import "tailwindcss";

html, body, #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  html, body, #root {
    height: 100%;
    overflow: hidden;
  }
}